button1 {
    transition: all .5s ease;
    color: #fff;
    border: 1px solid white;
    font-family:'Montserrat', sans-serif;
    text-transform: uppercase;
    text-align: center;
    line-height: 1;
    font-size: 15px;
    background-color : transparent;
    padding: 10px;
    outline: none;
    padding: 0.5rem 1rem;
    border-radius: 4px;
}
button1:hover {
    color: #001F3F;
    background-color: #fff;
}