.hero {
        max-height: 100vh;
        width: 100vw;
        overflow-x: unset;
        background-color: #f3f2f2;
        position: relative;


}
.hero .center-text {
    text-align: center;
}

.hero-container {
    /* position: absolute; */
    /* width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%); */
    z-index: 3;
    padding-top: 6rem;
    padding-bottom: 6rem;
    margin-left: 1rem;
    margin-right: 1rem;
}

.text-head{
    /* font-family: 'Cinzel', serif; */
    font-family: 'Architects Daughter', cursive;
/* font-family: 'Cinzel', serif; */
    font-weight: 800;
    font-size: 2.5rem;
}
 
.text-para {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    font-family: 'Architects Daughter';
}

.hero-button {
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
    
}
.hero-button-text {
    text-align: center;
    font-size: 10px;
    background-color : #1c2237;
    height: 20px;
    color: white;
    outline: none;
    padding: 0.1rem 0.2rem;
    border-radius: 4px;
    padding-top: 1rem;
    padding-bottom: 2rem;
    /* margin-left: 1rem;
    margin-right: 1rem; */
    font-weight: bold;
    font-size: 90%;
    width: 250px;
}